.navbar {
  background: rgb(0, 0, 0);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 17px;
  margin-right: 90px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.Headphones {
  font-size: 24px;
}

.conteiner {
  border-bottom: 1px solid #ffffff;
}

.logo img {
  height: 50px;
  width: auto;
  margin-left: 40px;
}
